body {
    background-color: #122a46;
    font-family:sans-serif;
    position: absolute;
    /* top: 50%; */
    left: 20%;
    /* margin: -25px 0 0 -25px; */
    max-width: 300px;
}
.bilboImg {
    background-color: beige;
    padding: 50px;
    border: 7px solid rgb(112, 189, 189);
    border-radius: 7%;
    margin: 0;
    width: 650px;
}
.titulo, .posts, .post_title {
    color:rgb(211, 243, 243);
    /* font-family:sans-serif; */
}

.jorge {
    width: 650px;
}
.titulo {
    width: 650px;
}
.post_title {
    font-size: 15px;
    /* font-style: italic; */
    font-style: arial;
    margin: 0;
    margin-bottom: 15px;
}
.postContent1, .postContent2, .postContent3 {
    margin: 0;
    margin-right: 0;
    margin-bottom: 15px;
    font-family:sans-serif;
    /* text-transform: uppercase; */
    text-align: justify;
}
.post {
    background-color: beige;
    padding: 50px;
    border: 7px solid rgb(112, 189, 189);
    border-radius: 7%;
    margin-right:500px;
    width: 650px;

}

.bilbo2 {
    width: 650px;
}

.lista {
    background-color: beige;
    list-style-type: armenian;
    color:rgb(235, 241, 241);
    border-radius: 3%;
    margin-right: 500px;
    padding: 5px;
    position: absolute;
    left: 5px;
}

/* .posts {
    color: aquamarine;
} */